<%= simple_form_for(@animal) do |f| %>
  <div class="form-inputs">
    <%= f.input :photo, as: :file %>
    <%= f.input :species %>
    <%= f.input :name %>
    <%= f.input :race %>
    <%= f.input :gender %>
    <%= f.input :description %>
    <%= f.input :chip %>
    <%= f.input :worm %>
    <%= f.input :vaccined %>
    <%= f.input :accessories %>
    <%= f.input :daily_price %>
    <%= f.submit "submit", class: "btn btn-primary w-100" %>
  </div>
<% end %>