<div class="banniere">
  <div class="container">
    <h1>Nos animaux</h1>
    <h3>Choisissez votre animal</h3>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @animals.each do |animal| %>
      <tr>
        <%= cl_image_tag animal.photo.key, height: 300, width: 400, crop: :fill %>
        <td><%= animal.name %></td>
        <td><%= animal.gender %></td>
        <td><%= animal.race %></td>
        <td><%= animal.daily_price %></td>
      </tr>
    <% end %>
  </div>
</div>
