<h1>Animals#show</h1>
  <%= cl_image_tag animal.photo.key, height: 300, width: 400, crop: :fill %><br>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_tag animal.photo.key, height: 300, crop: :fill %>')">
  <br><strong>species:</strong><%= animal.species %>
  <br><strong>name:</strong><%= animal.name %>
  <br><strong>race:</strong><%= animal.race %>
  <br><strong>gender:</strong><%= animal.gender %>
  <br><strong>description:</strong><%= animal.description %>
  <br><strong>chip:</strong><%= animal.chip %>
  <br><strong>worms:</strong><%= animal.worms %>
  <br><strong>vaccined:</strong><%= animal.vaccined %>
  <br><strong>accessories:</strong><%= animal.accessories %>
  <br><strong>daily_price:</strong><%= animal.daily_price %>
  <br><strong>owner_id:</strong><%= animal.owner_id %>
  </div>
<%end%>
