<!DOCTYPE html>
<html>
  <head>
    <title>PAYETonPet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

<body>
  <div class="navbar navbar-light bg-light w-100">
    <%= image_tag("logopet.png", class: "logo") %>
  <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Menu
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Sign In</a>
      <a class="dropdown-item" href="#">Show</a>
      <a class="dropdown-item" href="#">About</a>
    </div>
  </div>
  </div>
    <div class="container">
      <%= yield %>
    </div>
</body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

</html>
