<!DOCTYPE html>
<html>
  <head>
    <title>PAYETonPet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="<%= 'devise' if params[:controller] =~ /devise/ %>">
    <div class="navbar navbar-light bg-light w-100">
      <%= link_to root_path do %>
        <%= image_tag "logopet.png", class: "logo" %>
      <% end %>
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "Sign In", new_user_session_path, class:'dropdown-item' %>
          <%= link_to "Show Room", animals_path, class:'dropdown-item' %>
          <%= link_to "My Bookings", my_bookings_path, class:'dropdown-item' %>
          <%= link_to "My Animals", my_owner_bookings_path, class:'dropdown-item' %>
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
